body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.main-container {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 131, 0.7)), url(assets/wallandsoldiers.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  position: relative;
}

@keyframes lazyopacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.textbox {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: lazyopacity;
  animation-duration: 4s;
}

.textbox-container {
  color: #fff;
  text-transform: uppercase;
  width: max-content;
  margin-bottom: 70px;
}

.textbox-title {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.textbox-subtitle {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 14px;
}

.btn-container {
  text-align: center;
}

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(60, 69, 69, 0.22);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

.btn:link,
.btn:visited {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  margin: 0 15px;
}

.btn:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.btn-white {
  background-color: #fff;
  color: #777;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}


/* result page */

.Items-container {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  display: grid;
  grid-gap: 15px;
  margin: 12px 300px;
}

.Item {
  background-color: #f9f9f9;
  border-radius: 12px;
  max-height: 415px;
  overflow: auto;
}